* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.main {
  position: relative;
  min-height: 100vh;
  padding-top: 30px;
  background-color: rgb(0, 51, 109);
  color: white;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 40px;
  margin-bottom: 50px;
}
input,
button {
  width: 480px;
  height: 38px;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
}

button {
  background-color: rgb(4, 0, 79);
  color: white;
  border: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

tr,
td,
th {
  width: 115px;
  height: 45px;
  padding: 5px 10px;
  background-color: rgb(4, 0, 79);
  border: 1px solid rgb(255, 255, 255);
}
.grade {
  margin-left: 3px;
}

p {
  color: red;
  font-size: 12px;
  text-align: start;
  margin-left: 10px;
}
.menu {
  width: 65px;
  height: 75px;
  position: absolute;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

li {
  list-style-type: none;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}
.footer{
  border: none;
  font-size: 20px;
}

@media screen and (max-width: 993px) {
  .container {
    max-width: 97%;
    margin: 0 auto;
  }
  form {
    width: 100%;
  }
  .row {
    flex-wrap: wrap;
  }
  .table {
    width: 100%;
  }
  input,
  button {
    width: 95%;
  }
}
